* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.virtualkeyboard {
    font-family: "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial;
    position: absolute;
    width: 480px;
    border: 1px solid #999;
    z-index: 99999;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.inputZone {
    background: #DBDBDB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 0;
}

.inputZone > div {
    display: flex;
}

.inputZone span {
    font-size: 32px;
    width: 43px;
    border-radius: 4px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: white;
    display: inline-block;
    border: 1px solid #DBDBDB;
    cursor: pointer;
}

.inputZone span:active {
    background: #eee;
}

.keyboardOp {
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    cursor: move;
    background-color: white;
    overflow: hidden;
}

.keyboardOp > .slideDown {
    float: right;
    font-weight: bold;
    color: darkviolet;
    cursor: pointer;
    padding: 0 20px;
    border-left: 1px solid #DBDBDB;
}

.keyboardOp > .slideDown:active {
    background-color: #DBDBDB;
    color: red;
}

.outputZone {
    display: none;
    position: absolute;
    width: 480px;
    height: 40px;
    left: -1px;
    top: -40px;
    border: 1px solid #999;
    box-sizing: border-box;
    background-color: white;
}

.outputZone .zh-pinyin-letter {
    font-size: 30px;
    font-weight: bold;
    color: #dc4f42;
    margin-left: 16px;
}

.outputZoneOp {
    float: right;
    height: 40px;
    line-height: 40px;
}

.outputZoneOp > span {
    display: inline-block;
    height: 100%;
    padding: 0 8px;
    font-size: 24px;
    cursor: pointer;
}

.outputZoneOp > span:active {
    color: red;
    background-color: #cccccc;
}

.outputZoneOp .unclick {
    color: #999;
    cursor: not-allowed;
}

.output-ZH > li {
    padding: 0 12px;
    cursor: pointer;
    float: left;
    list-style: none;
}

.output-ZH > li:active {
    color: red;
    background-color: #cccccc;
}

.virtualkeyboard .hide {
    display: none;
}

.virtualkeyboard .blank {
    width: 175px;
    font-size: 20px;
}

.virtualkeyboard .symbol {
    font-size: 18px;
}

.virtualkeyboard .func {
    font-size: 20px;
    color: #fd910a;
}
